.content {
    display: flex;
    flex-direction: row;
}

.header h1 {
    opacity: 0.7;
    text-align: center;
}

.area {
    border-radius: 5px;
    margin: 10px 20px;
}

.board {
    background-color: rgb(246, 248, 250);
    border: 1px solid rgb(216, 222, 228);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 400px;
    width: 70%;
}

.trash-zone {
    border: 1px dashed rgb(216, 222, 228);
    width: 30%;
}

.note {
    background-color: lightgreen;
    border: 1px solid grey;
    border-radius: 1px;
    height: fit-content;
    margin: 10px;
    min-height: 100px;
    min-width: 100px;
    width: 200px;
}

.note span {
    display: inline-block;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 10px;
}